:root {
    --abu: #e3e3e3;
    --abu-tua: rgb(211, 211, 211);
    --white: #ffffff;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 280px;
    background-color: var(--abu);
    color: black;
    border-radius: 3px;
    padding: 15px 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 900px;
    height: 260px;
    /* background-color: aqua; */
    border: 3px solid black;
    padding: 15px 5px 0 5px;
}
.container .row {
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */

}
.container .year {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    /* width: 220px; */
    height: auto;
    padding: 10px 0;
    margin: 0 0 10px 0;
    border-radius: 10px;
    border: 1.5px  solid black;
}
.container .year b {
    font-weight: 700;
    font-size: 1.3rem;
}
.container .row .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 260px;
    margin: -18px 0 0 -10px;
    background-color: var(--white);
    border: 2px  solid black;

}
.container .row .logo:nth-child(2) {
    border-left: 1px solid #000000;
    border-right: 3px solid #000000;
    margin-left: 0;
}
.row .logo img {
    width: 175px;
    padding: 15px 15px 0 15px;
    margin: 0 0 10px 0;
}
.container .row .logo .instansi {
    display: flex;
    text-align: center;
    padding: 5px 5px 6px 5px;
}
.container .row .logo .instansi b {
    font-size: 0.78rem;
    font-weight: 900;
}
.qrcode-container {
    width: 180px;
    text-align: center;
}
.qrcode-container svg {
    width: 160px;
    height: 200px;
}
.container .row .box-desc {
    /* background-color: red; */
    width: 520px;
    padding: 0;
    margin: -30px 0 0 10px;
    position: relative;
}
.container .row .head{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 520px;
    height: 50px;
    border-radius: 10px;
}
.container .row .box-desc .desc .head{
    text-wrap: wrap;
    font-weight: bold;
    font-size: 1.3rem;
}
.container .row .box-desc .desc {
    margin: 0px 15px 0px 15px;
    display: flex;
    padding: 5px 0 ;
    word-break: break-all;
    font-size: 18px;
    border-radius: 10px;
}
.container .row .box-desc .asset-details{
    margin: 0px 15px 0px 15px;
    display: flex;
    align-items: flex-start;
    padding: 5px 0 ;
    word-break: normal;
    font-size: 18px;
    border-radius: 10px;
}
.container .row .box-desc .asset-details tr td{
    vertical-align: top;
    padding: 2px;
}
.container .row .box-desc .asset-details td:first-child {
    width: 30%;
    text-align: left;
}
.container .row .box-desc .asset-details td:last-child {
    font-weight: bold;
    width: 70%;
}

.container .row .box-desc .desc span{
    font-size: 1.2rem;
    font-weight: 500;
}
.container .row .box-desc .desc b {
    line-height: 1.1;
    font-size: 1.2rem;
    font-weight: 600;
}

@media (max-width: 992px) {
    .container .row .box-desc .label.kode-reg {
        top: 460px;
    }
    .container .row .box-desc .label.nibar {
        top: 535px;
    }
    .container .row .box-desc .label.merek-name {
        top: 610px;
    }
    .container .row .box-desc .label.loc {
        top: 685px;
    }
}
/* .rectangular {
    display: flex;
    border: solid 3px black;
    width: 566px;
    height: 460px;
    box-sizing: border-box;
}

.box-logo {
    border-right: solid 3px black;
    width: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.rectangular img {
    width: 140px;
}

.box-description {
    width: 384px;
    text-align: center;
}

.col1 {
    border-bottom: solid 3px black;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22pt;
}

.col3 {
    border-bottom: solid 3px black;
    padding: 40px 0 40px 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    font-size: 12pt;
}

.col6 {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrap-right-button {
    display: flex;
    justify-content: end;
    width: 100%;
}

.content-wrapper {
    overflow: scroll;
}

.content-wrapper::-webkit-scrollbar {
    display: none;
} */
